.about-dropdown {
  animation: slideDown 0.4s ease;
}

@keyframes slideDown {
  from {
    opacity: 2;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 

.about-text {
  background-color: aqua;
}
